# ==================================================
# BATAMPULSE FRONTEND ENV TEMPLATE (.env.example)
# Copypaste file ini menjadi .env untuk penggunaan lokal
# ==================================================

# Base URL Backend Production / Server Terpisah
VITE_API_BASE_URL=http://127.0.0.1:8000

# WhatsApp Gateway Token
VITE_FONNTE_TOKEN=
